 
<h1 id="h1"><marquee><b>Shop-Dog</b> vous-souhaite la bienvenue!!!!</marquee></h1>
<p><center><b><font size="5"><i>On est là pour vous ❤️</i></font></b></center></p>


  <p class="lead">
    <center><a class="btn btn-primary btn-lg" href=" " role="button" id="bouton">Go shopping</a></center>
  </p>
</div>

<div class="site-content">
    <div class="row">
        <div class="col-lg-3">
            
            <div class="diaporama1" id="diapo1">


             </div>
               
          
        </div>


        <div class="col-lg-3" id="propos">
            <p> <b>Dog Shop;</b> faites avec le ❤️ et conçue uniquement pour vous faire plaisir!!😘😘😘😘;<br>
            Soyez au courrant de tout nos actualité avec nous.</p> 
              <p>Ayez de la bonne compagnie avec classe et n'hésitez pas à nous contactez en cas de besoin ou si vous avez des question <br>
              Notre équipe est prête pour vous servir,vous pouvez avoir notre contact en appuyant sur contact ou bien tout en bas de cette page.</p> 
             	 	
        </div>
        <div class="col-lg-3">
            <div class="diaporama2" id="diapo2">
                
            </div>	 	
        </div>
        <div class="col-lg-3">
            <p> <b>Dog Shop;</b> faites-nous confiance car nos chiens sont en bonne santé,de bonne race,et avec des papiers en règle</p> 
              <p>Visitez notre page,connectez-vous, inscrivez-vous et adopter le chien que votre coeur a choisis❤️❤️</p>
            	
        </div>
</div><hr>

    

        <div class=""></div>










<!-- test -->

<div class="team">
<h2 align="center" id="h2">La Team</h2>
<div class="row" id="contact">
    <div class="col-lg-3">
        <div class="our-team" id="img">
            <%= image_tag "andee.jpg", class: "card" %>
            <h5>Andee Rakut</h5>
            <h6>Designer/Front-end Developer</h6>
            <div class="wrapper">
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-linkedin-square"></i></a>
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-facebook-square"></i></a>
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-twitter-square"></i>
             </div></a>
            
        </div>
    </div>
    <div class="col-lg-3">
        <div class="our-team" id="img">
            <%= image_tag "lanto.jpg", class: "card" %>
            <h5>Lantoniaina</h5>
            <h6>Web Designer</h6>
            <div class="wrapper">
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-linkedin-square"></i></a>
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-facebook-square"></i></a>
                <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-twitter-square"></i>
             </div></a>
            
        </div>		
    </div>
    <div class="col-lg-3">
    <div class="our-team" id="img">
        <%= image_tag "dadandy.jpg", class: "card" %>
        <h5>Andy Ral</h5>
        <h6>Backend Developer</h6>
        <div class="wrapper">
            <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-linkedin-square"></i></a>
            <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-facebook-square"></i></a>
            <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-twitter-square"></i>
         </div></a>
        
    </div>		
</div>
    <div class="col-lg-3">
        <div class="our-team" id="img">
            <%= image_tag "mah.JPG", class: "card" %>
        <h5>Mahefa</h5>
       <h6>Backend Developer</h6>
       <div class="wrapper">
        <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-linkedin-square"></i></a>
        <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-facebook-square"></i></a>
        <a target="_blank" href="your_url_here"><i class="fa fa-3x fa-twitter-square"></i>
     </div></a>
        </div>		
    </div>
    </div>
</div>
</div>



 <footer class="bg-grey small text-center text-white-50" id="footer">
      <div class="container">
        Dog-Shop &copy; with ❤️ 2018
      </div>
</footer>









