


#bouton {
  background-color: #f6e58d;
  border: 3px solid #f6e58d;
}

#bouton:hover {

  background-color: #2c3e50;
}




#diapo1{
    margin-left: 5px; 
    width: 100%;
    height: 110%;
    background-image: url(log.png);
    background-size: cover; 
    
    

    webkit-animation-name: diapo1;
    webkit-animation-duration: 30s;
    webkit-animation-timing-function: linear;
    webkit-animation-iteration-count: infinite;
    webkit-animation-direction: normal;

    moz-animation-name: diapo1;
    moz-animation-duration: 30s;
    moz-animation-timing-function: linear;
    moz-animation-iteration-count: infinite;
    moz-animation-direction: normal;

    animation-name: diapo1;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;                
}   


@-webkit-keyframes diapo1{

    0%{background-image: url(log.png);}
    20%{background-image: url(ig1.jpg);}
    40%{background-image: url(ig2.jpg);}
    60%{background-image: url(ig3.jpeg);}
    80%{background-image: url(ig4.jpg);}
}

@-moz-keyframes diapo1{

    0%{background-image: url(log.png);}
    20%{background-image: url(ig1.jpg);}
    40%{background-image: url(ig2.jpg);}
    60%{background-image: url(ig3.jpeg);}
    80%{background-image: url(ig4.jpg);}
}

@-keyframes diapo1{

    0%{background-image: url(log.png);}
    20%{background-image: url(ig1.jpg);}
    40%{background-image: url(ig2.jpg);}
    60%{background-image: url(ig3.jpeg);}
    80%{background-image: url(ig4.jpg);}
}

#para{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3.nom{
    text-align: center;
    color: #2c3e50;
}

h3.nom:hover{
    color: black;
    cursor: pointer;
}

#diapo2{
  
    width: 100%;
    height: 110%;
    background-image: url(log.png);
    background-size: cover; 
    

    webkit-animation-name: diapo2;
    webkit-animation-duration: 13s;
    webkit-animation-timing-function: linear;
    webkit-animation-iteration-count: infinite;
    webkit-animation-direction: normal;

    moz-animation-name: diapo2;
    moz-animation-duration: 13s;
    moz-animation-timing-function: linear;
    moz-animation-iteration-count: infinite;
    moz-animation-direction: normal;

    animation-name: diapo2;
    animation-duration: 30000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;                
}   


@-webkit-keyframes diapo2{

    0%{background-image: url(log.png);}
    20%{background-image: url(im1.jpg);}
    40%{background-image: url(im2.jpg);}
    60%{background-image: url(im3.jpeg);}
    80%{background-image: url(ig10.jpg);}
}

@-moz-keyframes diapo2{

    0%{background-image: url(log.png);}
    20%{background-image: url(im1.jpg);}
    40%{background-image: url(im2.jpg);}
    60%{background-image: url(im3.jpeg);}
    80%{background-image: url(ig10.jpg);}
}

@-keyframes diapo2{

    0%{background-image: url(log.png);}
    20%{background-image: url(im1.jpg);}
    40%{background-image: url(im2.jpg);}
    60%{background-image: url(im3.jpeg);}
    80%{background-image: url(ig10.jpg);}
}







.jumbotron{
    text-align: center;

}

.card{
    margin-left: 10px;
    width: 300px;
    height: 150px;
    border: 5px #f6e58d;
    background-size: cover; 
}

.card:hover {

  
}

.our-team{
    text-align: center;
    font-family: purisa;
}

.text-nom{
    border: 1px solid #fff;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
  }
  .wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out .1s;
  }
  .wrapper a:nth-child(1) {
    color: #dd4b39;
  }
  .wrapper a:nth-child(2) {
    color: #4867AA;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }
.social{
    color: #4867AA;
}

.social:hover{
    text-decoration: none;
    color: aliceblue;
}

#img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}


#h2 {
  font-size: 50px;
  font-family: Chilanka;
  color: #2c3e50;
}


#titre {

  font-size: 70px;
  font-family: Chilanka;
  color: #f6e58d;

}

body {
  background-color: #b2bec3 !important; 
}

footer {

    background-color: #2c3e50;
    padding: 4rem 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.navbar.bg-light {
    background-color: #2c3e50 !important;
}

#h1 {
  font-family: chilanka;
  font-size: 30px;
  color: #2c3e50;
}